*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #23232e;
    height: 8vh;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: beige;
    margin: 0;
}

/* table */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 10px;
    margin: auto;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.content-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr {
    background-color: #23232e;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 13px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #23232e;
}

/* button */

#btn{
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    color: #fff;
    background: #28a745;
    border: 1px solid #555;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#btn:hover{
    background: #218838;
}

/* feedback */
#msgAlerta, #msgAlertaErro, #msgAlertaErroEdit {
    display: none;
}

.alert-success {
    display: block;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

.alert-error {
    display: block;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}


/* modal */

.open-modal{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
    display: inline;
}

.open-modal:hover{
    color: darkblue;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

dialog {
    border: none;
    width: 350px;
    border-radius: 24px;
    padding: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modeal-title {
    font-size: 20px;
    font-weight: 500;
    color: #111928;
}

.close-modal {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #9ca3af;
    font-size: 18px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-group label {
    font-size: 14px;
    font-weight: 500;
    color: #111928;
}

.input-group input {
    border: 1px solid #d1d5db;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 10px 16px;
}

.input-group input:focus {
    outline: 1px solid #6366f1;
}